<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AWSRegion" value="us-east-1" />
		<add key="AWSProfileName" value="default" />
		<add key="AWSLogging" value="SystemDiagnostics" />
		<add key="AWSResponseLogging" value="OnError" />
		<add key="AWSLogMetrics" value="true" />
	</appSettings>
</configuration>