name: Test

on:
  push:
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    
    permissions:
      id-token: write
      contents: read

    steps:
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-region: us-west-2
        role-to-assume: arn:aws:iam::370957321024:role/S3EC-Python-Github-test-role
        role-session-name: S3ECNetTests
        
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '6.0.x'
    
    - name: Restore dependencies
      run: dotnet restore

    - name: Build (net45)
      if: runner.os == 'Windows'
      run: |
        dotnet build --no-restore --framework net45 src/Amazon.Extensions.S3.Encryption.csproj
        dotnet build --no-restore --framework net45 test/UnitTests/Amazon.Extensions.S3.Encryption.UnitTests.csproj
        dotnet build --no-restore --framework net45 test/IntegrationTests/Amazon.Extensions.S3.Encryption.IntegrationTests.NetFramework.csproj
      
    - name: Build (Cross-platform Frameworks only)
      run: |
        dotnet build --no-restore --framework netstandard2.0 src/Amazon.Extensions.S3.Encryption.csproj
        dotnet build --no-restore --framework netcoreapp3.1 src/Amazon.Extensions.S3.Encryption.csproj
        dotnet build --no-restore --framework net6 test/UnitTests/Amazon.Extensions.S3.Encryption.UnitTests.csproj
        dotnet build --no-restore test/IntegrationTests/Amazon.Extensions.S3.Encryption.IntegrationTests.NetStandard.csproj

    - name: Run Unit Tests (net45)
      if: runner.os == 'Windows'
      run: |
        dotnet test --no-restore --no-build --framework net45 test/UnitTests/Amazon.Extensions.S3.Encryption.UnitTests.csproj

    - name: Run Unit Tests (net6)
      run: dotnet test --no-restore --no-build --framework net6 test/UnitTests/Amazon.Extensions.S3.Encryption.UnitTests.csproj

    - name: Run Integration Tests (NetFramework)
      if: runner.os == 'Windows'
      run: dotnet test --no-restore --no-build --framework net45 test/IntegrationTests/Amazon.Extensions.S3.Encryption.IntegrationTests.NetFramework.csproj
      
    - name: Run Integration Tests (NetStandard)
      run: dotnet test --no-restore --no-build test/IntegrationTests/Amazon.Extensions.S3.Encryption.IntegrationTests.NetStandard.csproj